# macOS
.DS_Store

# Xcode
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# User-specific Xcode data
**/xcuserdata/

# Build products
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (si un jour tu l'utilises)
Pods/
